%% -*- erlang -*-
{deps, [
        {esqlite, "0.2.4"}
       ]}.

{plugins, [
           {rebar3_lint, {git, "https://github.com/bwegh/rebar3_lint.git", {branch, "master"}}}
          ]}.

{profiles, [
            {test, [
                    {deps, [{meck, "0.8.8"}]},
                    {cover_enabled, true},
                    {cover_opts, [verbose]}
                   ]}
           ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files },
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config }
        ] }.
